body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 50px;
    text-align: center;
    color: #834d63;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1px;
}

.choices {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.choice-btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: black;
    transition: transform 0.2s, background-color 0.2s;
}

#rock {
    background-color: #f9c9d5;
}

#paper {
    background-color: #aef0c8; 
}

#scissors {
    background-color:#d1c4e9; 
}

.choice-btn:hover {
    transform: scale(1.1);
}

.result-display {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    background: #ffffff;
    border-radius: 10px;
    border: 2px solid #fbf5c1;
}

.result-top {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

.score-board {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-weight: bold;
    border: 2px solid #fbf5c1;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 320px;
}

#reset-btn {
    margin-top: 20px;
    padding: 15px 45px;
    width: 350px;
    font-size: 1.1rem;
    background: #834d63;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#reset-btn:hover {
    background: #0f3460;
}

.game-container {
    border: 4px solid #834d63;
    padding: 25px;
    border-radius: 15px;
    background-color: #fffadf;
}